<div class="row">
    <div class="col-md-4">
        <app-lista-especialidad  [especialidades]="especialidades" (especialidadSeleccionada)="asignarEspecialidadSeleccionada($event)"></app-lista-especialidad>
    </div>
    <div class="col-md-8">
        <h3 *ngIf="especialidadSeleccionada">Especialistas</h3>
        <app-lista-especialistas [usuarios]="especialistasEspecialidad" (especialistaSeleccionado)="asignarEspecialista($event)" *ngIf="especialidadSeleccionada">
        </app-lista-especialistas>
    </div>
</div>

<div class="row" *ngIf="usuario.administrador">
    <h3>Pacientes</h3>
    <div class="col-md-8">
        <app-lista-pacientes [usuarios]="pacientes" (pacienteSeleccionado)="enviarUsuarioSeleccionado($event)"></app-lista-pacientes>
    </div>
</div>
<div class="row" *ngIf="especialistaSeleccionado">
    <div class="col-md-2" *ngFor="let fecha of turnosDisponibles">
        <button class="btn btn-success mb-2" (click)="mostrarHorarios(fecha)">{{fecha.row_date.day}}/{{fecha.row_date.month}}/{{fecha.row_date.year}}</button>
    </div>
    <div *ngIf="fechaElegida">
        <div class="row">
            <label>Horarios disponibles para {{fechaElegida.row_date.day}}/{{fechaElegida.row_date.month}}/{{fechaElegida.row_date.year}}</label>
            <div class="form-group col-md-2" *ngFor="let hora of fechaElegida.row_date.hours">
                <button class="btn btn-primary mb-3" (click)="fechaTurnoElegido(hora)" *ngIf="hora">{{hora}}</button>
                
            </div>
        </div>
    </div>

</div>
<div class="mb-3">
    <app-captcha (resultadoCaptcha)="resolvedPropio($event)"></app-captcha>
</div>
<div class="container"  [hidden]="!captchaPropio">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-success" (click)="registrarTurno()">Enviar Turno</button>
        </div>
    </div>
</div>