<div class="card mt-5" *ngIf="usuario | async as  usuario; else loading">
    <div class="card-body">
        <h3 class="card-title text-center"> Gracias por Registrarte!</h3>
        <div class="form-group mt-2">
            <p class="text-center">
                Hemos enviado el email de confirmacion to <strong>{{usuario?.email}}</strong>
            </p>
            <p class="text-center">
                Por favor revisa tu email y ingresa al link para verificar tu email.
            </p>
        </div>
        <div class="form-group text-center mt-5">
            <button class="btn btn-success" (click)="reenviarEmailVerificacion()">Reenviar email</button>
        </div>
    </div>
</div>

<ng-template #loading>
    Cargando...
</ng-template>