<nav class="navbar navbar-expand-lg navbar-light bg-danger ">
    <a class="navbar-brand text-light" href="#">Clinica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample"
        aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="usuario$ | async as usuario; else login">
        <a class="btn text-light" (click)="goBienvenida()">Bienvenida</a>
        <a class="btn text-light" (click)="goSeccionUsuarios()" *ngIf="adminLogueado">Usuarios</a>
        <a class="btn text-light" (click)="goMiPerfil()">Mi Perfil</a>
        <a class="py-2 d-none text-light d-md-inline-block btn" *ngIf="usuario">{{usuario?.email}}</a>
        <a class="py-2 d-none text-dark d-md-inline-block btn" type="button" (click)="onLogout()" *ngIf="usuario">Logout</a>
        
      </div>
      <ng-template #login>
        <a class="py-2 d-none d-md-inline-block btn text-light" type="button" (click)="goRegistro()">Registro</a>
        <a class="py-2 d-none d-md-inline-block btn text-light" type="button" (click)="goLogin()">Login</a>
      </ng-template>
</nav>