html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  #img{
    height: 200px;
    width: 200px;
    display:block;
    margin:auto;
    /*background-image: url('../../../assets/ahorcado/ahorcado.jpg');*/
}
#imgBotonesLog{
  height: 70px;
  width: 70px;
  display:block;
  margin:auto;
  border-radius: 2rem;
  background-color: rgb(160, 255, 160);
  
  /*background-image: url('../../../assets/ahorcado/ahorcado.jpg');*/
}

#btnLogs{
  height: 100px;
  width: 100px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
  border-color: black;
  
}
.fab
{
  position: fixed;
  bottom: 32px;
  border-radius: 50%;
  
  width: 60px;
  height: 60px;
  background: white;
  box-shadow: 1px 2px 4px grey;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fab:hover
{
  cursor: pointer;
}
.fab img
{
  width: 45%;
  transform: rotate(45deg);
  transition: 0.4s;

}
.box
{
  position: fixed;
  bottom: 44px;
  
  height: 0px;
  transition-delay: 0.3s;
  width: 80px;
  transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item
{
  overflow: hidden;
  border-radius: 50%;
  transition: 0.4s ease-in;
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px grey;
}
.item6{
  margin-bottom: 69px;
}
.item:hover{
  cursor: pointer;
}
.item:hover img{
  transform: rotate(360deg);
  transition: all 0.5s;

}
.box-activate
{
  height: 290px;
}
.fab-activate img{
  transform: rotate(270deg);
  width: 40px;
}