<div class="container">
    <div class="row">
      <div class="col-12">
        <form class="form-signin">
          <div class="">
            <img id="img" class="mb-4" src="../../../assets/cruzVerde.jpg" alt="">
          </div>
          <div class="col-12">
            <h1 class="h3 mb-3 font-weight-normal text-center">Inicio Sesion</h1>
          </div>
          <div class="col-12">
            <label for="email" class="sr-only mb-2">Correo Electronico</label>
            <input type="email" id="email" class="form-control" name="email" [(ngModel)]="email">
          </div>
          <div class="col-12">
            <label for="password" class="sr-only mb-2">Password</label>
            <input type="password" id="password" class="form-control" name="password" [(ngModel)]="password">
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-lg btn-success btn-block" (click)="ingresar()">Entrar</button>
          </div>
          <!-- <div class="form-group">
            <button type="button" class="btn btn-lg btn-success btn-block" (click)="logEliseo()">Autocompletar</button>
          </div> -->
        </form>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="fab" (click)="activate()">
      <img src="../../../assets/users.png" alt="">
    </div>
    <div class="box">
      <a class="item item1" (click)="logAdmin()"><img src="../../../assets/messi.png"></a>
      <a class="item item2" (click)="logE1()" ><img src="../../../assets/cr7.png" ></a>
      <a class="item item3" (click)="logE2()" ><img src="../../../assets/neymar.png"></a>
      <a class="item item4" (click)="logP1()" ><img src="../../../assets/goku.png" ></a>
      <a class="item item5" (click)="logP2()" ><img src="../../../assets/jesus.png" ></a>
      <a class="item item6" (click)="logP3()" ><img src="../../../assets/naruto.png" ></a>
    </div>
   

  </div>
  