<div class="container" [@slideInOut]>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nombre Apelido</th>
                <th>Edad</th>
                <th>Email</th>
                <th>Tipo Usuario</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios" (click)="mostrarUsuario(usuario)">
                <td>{{usuario.nombre}} {{usuario.apellido}}</td>
                <td>{{usuario.edad}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.tipoUsuario}}</td>
            </tr>
        </tbody>
    </table>
</div>